// CSS for DEMO page

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  font-size: 16px;
  background-color: #f7f7f7;
  padding-bottom: 100px;
}

button {
  padding: 8px 25px;
  font-size: 16px;
  background: none;
  border: 3px solid;
  cursor: pointer;
  border-radius: 6px;
}

button:focus {
  outline: none;
}

#root {
  max-width: 750px;
  margin: auto;
}

.demo-container {
  padding: 30px 0;
}

.demo-container h1 {
  text-align: center;
}

.demo-container + .demo-container {
  border-top: 1px dashed #b7b7b7;
}

.demo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hljs {
  padding: 20px;
  border: 1px solid #ededed;
  background: #fff;
}

.spinner {
  display: inline-block;
  width: 17px;
  height: 17px;
  position: relative;
  vertical-align: bottom;
  margin-right: 5px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #999;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 1.0s infinite ease-in-out;
  animation: sk-bounce 1.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0); }
  50% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

